body {
    background-color: #ececec;
}

.container {
    width: 900px;
    padding: 20px;
    margin:40px auto;
    background-color: #b80b0b;
    border-radius: 20px;
    
}

h1{
        font-family: "Poppins", serif;
        font-weight: 600;
        font-style: normal;
        font-size: 32px;
      
      
}
h2{
        font-family: "Poppins", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 22px;
}

h3{
        font-family: "Poppins", serif;
        font-weight: 200;
        font-style: normal;
        font-size: 16px;
}

p{
        font-family: "Lato", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 14px;

}