.headshot {
    width: 150px;  /* Set the container size */
    height: 150px;
    overflow: hidden; /* Prevents image overflow */
    border-radius: 50%; /* Optional: makes the container circular */
}

.headshot img {
    width: 100%; /* Ensures the image scales within the container */
    height: auto; /* Maintains aspect ratio */
    display: block; /* Removes any extra space around the image */
}

body {
    background-color: #2b2d42;
    font-family: "Lato", serif;
}

.container {
    display: flex;
    width: 900px;
    padding: 20px;
    margin:40px auto;
    background-color: #edf2f4;
    border-radius: 20px;
    
}

h1{
        font-family: "Poppins", serif;
        font-weight: 600;
        font-style: normal;
        font-size: 32px;
        margin-bottom: 15px;
        margin-top: 30px;
      
      
}
h2{
        font-family: "Poppins", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 24px;
        margin-bottom: 10px;
        margin-top: 20px;
}

h3{
        font-family: "Poppins", serif;
        font-weight: 200;
        font-style: normal;
        font-size: 22px;
        margin-bottom: 8px;
        margin-top: 18px;
}
h4{
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
    font-size: 18px; 
    margin-bottom: 5px;
    margin-top: 15px;
}

p{
        font-family: "Lato", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;

}
