body {
    background-color: #2b2d42;
    font-family: "Lato", serif;
}

.container {
    display: flex;
    width: 900px;
    padding: 20px;
    margin:40px auto;
    background-color: #edf2f4;
    border-radius: 20px;
    
}

h1{
        font-family: "Poppins", serif;
        font-weight: 600;
        font-style: normal;
        font-size: 32px;
      
      
}
h2{
        font-family: "Poppins", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 24px;
}

h3{
        font-family: "Poppins", serif;
        font-weight: 200;
        font-style: normal;
        font-size: 22px;
}
h4{
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
    font-size: 18px; 
}

p{
        font-family: "Lato", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;

}